/* Reset CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

header {
    background-color: #762ef3;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
}
.logo img {
  filter: brightness(70%); /* Adjust brightness to make it darker */
  width: 120px; /* Adjust width to make it bigger */
  height: auto;
  transition: filter 0.3s; /* Add transition effect */
}

.logo img:hover {
  filter: brightness(110%); /* Adjust brightness on hover to make it brighter */
}
.search-bar {
    flex-grow: 1;
    /*margin: 0 20px;*/
    margin: 20px auto; /* Center horizontally */
    overflow: hidden;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.search-bar input[type="text"] {
    padding: 8px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(269, 59%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
  }

/* .navbar {
    position: relative;
} */

.profile-dropdown {
    position: relative;
    width: fit-content;
  }
  
  .profile-dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    width: 150px;
    border-radius: 25px; /* Adjust the value to create an oval shape */
    overflow: hidden; /* Hide overflow to maintain oval shape */
    background-color:#762ef3;/* Set background color */
    cursor: pointer;
    border: 2px solid black;
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
      border 0.3s;
  }
  
  .profile-dropdown-btn:hover {
    background-color:var(--secondary-light-2);
    box-shadow: var(--shadow);
  }
  
  .profile-img {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: url(./assets/profile-pic.png);
    background-size: cover;
  }
  
  .profile-img i {
    position: absolute;
    right: 0;
    bottom: 0.3rem;
    font-size: 0.5rem;
    color: var(--green);
  }
  
  .profile-dropdown-btn span {
    margin: 0 0.5rem;
    margin-right: 0;
    color: #000000;
    font-size: 1.1rem;
  }
  
  .profile-dropdown-list {
    position: absolute;
    top: 68px;
    width: 220px;
    right: 0;
    background-color: var(--white);
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: max-height 0.5s;
    z-index: 9999;
  }
  
  .profile-dropdown-list hr {
    border: 0.5px solid var(--green);
  }
  
  .profile-dropdown-list.active {
    max-height: 500px;
  }
  
  .profile-dropdown-list-item {
    padding: 0.5rem 0rem 0.5rem 1rem;
    transition: background-color 0.2s ease-in, padding-left 0.2s;
  }
  
  .profile-dropdown-list-item a {
    margin-left: 56px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color:rgb(248, 248, 248);
  }
  
  .profile-dropdown-list-item a i {
    
    margin-right: 0.8rem;
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color:rgb(27, 26, 26) ;
    line-height: 2.3rem;
    text-align: center;
    margin-right: 1rem;
    border-radius: 50%;
    transition: margin-right 0.3s;
  }
  
  .profile-dropdown-list-item:hover {
    padding-left: 1.5rem;
    background-color: var(--secondary-light);
  }


  .field {
    margin-top: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem; /* Adjust as needed */
    border: 2px solid #2b0b93; /* Set border color */
    border-radius: 10px; /* Adjust border radius */
    padding: 1rem; /* Adjust padding */
    
}

.container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 2rem;
    
  }
  
  .card__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    
  }
  
  .card__article {
    position: relative;
    overflow: hidden;
  }
  
  .card__img {
    width: 328px; 
    height: 200px; 
    object-fit: cover;
    border-radius: 1.5rem;
  }
  
  .card__data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
    padding-inline: 2.5rem;
  }
  
  .card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
  }
  
  .card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
  }
  
  .card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
  }
  
  .card__button:hover {
    text-decoration: underline;
  }
  
  /* Naming animations in hover */
  .card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .card__article:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card__article:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
  }
  
  /* Card animation */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }
  
  .heading h1 {
    font-size: 2rem; /* Adjust as needed */
    font-weight: 500;
    text-align: center;

}

.heading a {
    color: #000000; /* Adjust color */
    text-decoration: none;
}

.heading a:hover {
    text-decoration: underline;
}